  <%= content_for :header do %>
    <%#  %>
  <% end %>

  <%= content_for :main do %>


<div class="container pt-4" style="max-width: 620px;">
  
        <h1 class="text-white">Plan a Trip</h1>
        <br>
        <%= render "form", trip: @trip %>
  
</div>

  <% end %>

  
  <%= content_for :mountaineer do %>

<%#= show_svg('art/mountaineer.png') %>
  
  <%#= image_tag("art/mountaineer.png", class: "mountaineer") %>
  
  <% end %>

