<div class="container-sm">
  <h1 class="font-weight-light py-3 text-center">Upcoming</h1>
  <% @my_trips.each do |trip| %>
    <%= render partial: "trip_card", locals: { trip: trip } %>
  <% end %>

</div>
