// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: 'NoeDisplay-Bold';
  src: url('noeDisplay-Bold.otf')
}

// @font-face {
//   font-family: 'NoeDisplay-Bold';
//   src:url('noeDisplay-Bold.otf');
//   src:url('noeDisplay-Bold.otf?#iefix') format('embedded-opentype'),
//     url('noeDisplay-Bold.svg#noeDisplay-Bold') format('svg'),
//     url('noeDisplay-Bold.woff') format('woff'),
//     url('noeDisplay-Bold.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

#title-trip-next {
  font-family: "NoeDisplay-Bold";
  font-size: 15px;
}