// Specific CSS for your home-page
#title-trip-next {
  font-family: 'DM Serif Text', serif;
  background-color: rgb(51, 28, 184);
  background-image: linear-gradient(45deg, #002fff, #af4261);
  background-size: 100%;
  background-clip: text;
  color: transparent;
}