<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= content_for :static_map %>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%= content_for :trip_info %>
      </div>
    </div>
  </div>
</div>