<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Outrek</h1>
    <p>
      You have been invited to join the trip created by $TRIP_OWNER
      To accept, just follow this link: <%= @url %>.<br>
    </p>
    <p>Thanks for using Outrek and have a great day!</p>
  </body>
</html>