<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Outrek</h1>
    <p>
      You have been invited to join the <%= @trip.description %> created by <%= @trip.user.email %>.
      To accept, simply follow this link to <%= link_to "Accept Trip", @url %>.<br>
    </p>
    <p>Thanks for using Outrek and have a great day!</p>
  </body>
</html>