<div class="">
  <div class="">
    <div style="z-index: 980; position:relative;">

      <%= content_for :header%>
    </div>

    <%# TODO #129 make content_for :header a z-index over high-peaks img %>
    <%= show_svg('art/high-peaks-summit.svg') %>
    
  </div>
</div>
<main class="linear-gradient-brand-main">
  <div class="forestry-bg" >
    <%# TODO #134 split the bg-img (clouds-hills-forest) see if better scroll optional %>
    <div class="cloud-one">
      <div class="cloud-two">
        <div class="cloud-three">
          <div class="hills">
            <div class="tree-line">
              <div class="overlay-forest-gradient">
                <div class="mountaineer-bg overflow-auto">
                  <div class="overflow-auto ">
                    <%= content_for :main%>
                
                
                      <%= image_tag("art/mountaineer.png", class: "mountaineer-img") %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
