<div class="">
  <div class="">
    <div style="z-index: 980; position:relative;">

      <%= content_for :header%>
    </div>

    <%# TODO #129 make content_for :header a z-index over high-peaks img %>
    <%= show_svg('art/high-peaks-summit.svg') %>
  </div>
</div>
<main class="linear-gradient-brand-main">
  <div class="forestry-bg" >
    <%# TODO #134 split the bg-img (clouds-hills-forest) see if better scroll optional %>
    <div class="overflow-auto" >
      <div class="overflow-auto mask-fade-top-small" style="height:100vh;">

        <%= content_for :main%>

      </div>
    </div>

  </div>
</main>

<%= content_for :mountaineer%>
