<div class="">
  <div class="mt-3 pt-2">

    <%= content_for :header%>

    <%= show_svg('art/high-peaks-summit.svg') %>
  </div>
</div>
<main class="linear-gradient-brand-main">
  <div class="forestry-bg" style="height:100vh;">
    <div class="container-sm" style="max-width:42em;">
      <%# render "trips/new.html.erb" %>
      <%= content_for :main%>

    </div>
  </div>
</main>
