<div class="">
  <div class="mt-3 pt-2">

    <%= content_for :header%>

    <%# TODO #129 make content_for :header a z-index over high-peaks img %>
    <%= show_svg('art/high-peaks-summit.svg') %>
  </div>
</div>
<main class="linear-gradient-brand-main">
  <div class="forestry-bg" >
    <div class="overflow-auto" style="height:100vh;">
      <div class="container-sm ">

        <%= content_for :main%>

      </div>
    </div>
  </div>
</main>
