<div class="container text-center pt-5" style="font-size:1.2em;">
  <h1 class="display-3 h1 mb-0 pb-0">Overplan And Go <br>
    With The Flow</h1>
  <p class="lead text-capitalize">Organize your next trip outdoors with <br>
      <span class="h3">Outrek's collaborative packing list</span></p>
  <p>
    <%= link_to "Plan a trip", new_trip_path, class: "btn btn-primary btn-lg my-2 btn-brand-fancy" %>
  </p>
</div>
