<%= content_for :header do %>
  <% if user_signed_in? %>
    <%= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: @trip_next } %>
                 ⬇<br>
    render trip next here
 <br>  ⬆
  <% else %>
    <%= render 'jumbotron' %>
  <% end %>
<% end %>

<%= content_for :main do %>
  <div class="display-1 text-white">Yield should be here</div>
<% end %>
