<%= content_for :header do %>
  <div class="container narrow-col">
    

    <% if user_signed_in? %>
      <%= render partial: "trips/card/trip_info", layout: "trips/card/card_horizontal_layout", locals: { trip: local_assigns[:trip] } %>
    <% else %>
      <%= render 'jumbotron' %>
    <% end %>
    

  </div>

<% end %>

<%= content_for :main do %>
  <div class="display-1 text-white">Yield should be here</div>

  
<% end %>
