<%= content_for :header do %>
  
<% end %>

<%= content_for :main do %>
   <div class="container narrow-col">
    <%= render layout: 'pages/narrow_col' do %>
      <%= render 'jumbotron' %>
    <% end %>
  </div>
  
<% end %>