  <%#= render partial: "landing_page" %>
 <%= render partial: "landing_page", layout: "art_forestry_bg", locals: { trip: @trip_next } %>


<%# b %>
 
<%# <main role="main">
  <header class="">
    <div class="mt-3 pt-2 text-center">

    </div>
  </header>
  <main class="linear-gradient-brand-main">
    <div class="forestry-bg" style="height:100vh;">
      <div class="container-sm" style="max-width:42em;">

      </div>
    </div>
  </main>
</main> %>
