<main role="main">
  <div class="">
    <section class="mt-3 pt-2 text-center">
      <div class="container">
        <h1 class="display-3">Overplan And Go <br>
          With The Flow</h1>
        <p class="lead text-muted"><big class="capitalize">Organize your next trip outdoors with</big><br>
          <span class="h2">Outrek's collaborative packing list</span>
        </p>
        <p>
          <%= link_to "Plan a trip", new_trip_path, class: "btn btn-primary btn-lg my-2 rounded-0" %>
          <%#= <a href="#" class="btn btn-secondary my-2">Ressources</a> %>
        </p>
      </div>
      <%= show_svg('art/high-peaks-summit.svg') %>
    </div>
  </section>
  <div class="album py-5 linear-gradient-brand-main" >
    <div class="container-sm" style="max-width:42em; margin-top:-5vh; height:50vh;">
      <%# render "trips/new.html.erb" %>
    </div>
  </div>
</main>
