
<div class="container">
  <h1>Edit an Item</h1>
  <hr>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.association :label %>

    <%= f.button :submit, class:"btn btn-primary btn-block" %>
  <% end %>
</div>


