<div class="container">
  <h1>Add an Item</h1>
  <hr>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.association :category, type_of_item: Category.order(:name), prompt: "Choose a Category" %>

    <%= f.button :submit, class:"btn btn-primary btn-block" %>
  <% end %>
</div>
