.avatar {
  // width: 40px;
  border-radius: 50%;
  $width: 35%;
  width: $width;
  height: $width;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

#navbarDropdown {
  font-size: 2em;
  margin-left: 8px;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.outline-1 {
  // outline: #4CAF50 solid 1px;
  box-shadow: 0 0 1px 0 #4CAF50;
  // outline-width: 1px !important;
}

.outline-2 {
  // outline: #4CAF50 solid 2px;
  box-shadow: 0 0 2px 0 #4CAF50;
  // outline-width: 2px !important;
}

.outline-3 {
  // outline: #4CAF50 solid 3px;
  box-shadow: 0 0 3px 0 #4CAF50;
  // outline-width: 3px !important;
}

.outline-4 {
  // outline: #4CAF50 solid 4px;
  box-shadow: 0 0 4px 0 #4CAF50;
  // outline-width: 4px !important;
}

.outline-5 {
  // outline: #4CAF50 solid 5px;
  box-shadow: 0 0 5px 0 #4CAF50;
  // outline-width: 5px !important;
}