.bg-topographic,
.topographic-bg {
  background-image: $brand-texture;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-gradient-brand-main {
  background: linear-gradient($brand-bg-dark, #5a399a);
}
.brand-bg-dark {
  background-color: $brand-bg-dark;
}

.gradient-4-uni-top {
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
