.mountaineer-bg {
      background-image: url("art/mountaineer.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: auto 60%;
      height: 80vh;
      @media screen and (max-width: 1080px) {
            & {
                  background-image: none;
            }
      }
      @media screen and (min-width: 1320px) {
            & {
                       background-size: auto 80%;
            }
      }
}

.mountaineer-img {
      display: none;
      @media screen and (max-width: 1080px) {
            & {
                  display: block;
                  width: 100%;
                  height: auto;
                  margin-top: 30px;
            }
      }
}
